.topimg{
  background-image: url(./bbgo.jpg);
  background-size: cover;
  height:1200px;
  width:100%;
  background-size: cover;
}


h1 {
  text-align: center;
  font-family: 'Grand Hotel', cursive;
  color:cadetblue;
  font-size: 100px;
}
hr{
  width: 67%;
  height: 2px;
  background-color: slategrey;
  border-style: dotted;
  border-radius: 50%;

}
.main{

  background-color: white;
  width:1000px;
  margin:0 auto;
  opacity: 0.9;


}
#quote{
  position: relative;
  left:25%;
  text-align:center;
  font-size: 50px;
  font-family: 'Reenie Beanie', cursive;
  width: 500px;


}
.topimg2{
  height:1200px;
  background-image:url(./bbgo1.jpg);
  background-size: cover;
}
#aboutmain{
  position: relative;
  left:0%;
  text-align:center;
  width:1000px;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 40px;
  color:royalblue;
}
footer{
  text-align: center;
  z-index:3;
}
